/* Reset some default styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

body {
    background-color: #F2F7FE;
}

/*HEADER*//*HEADER*//*HEADER*/
/*HEADER*//*HEADER*//*HEADER*/
header {
    background-color: #fff;
    color: #333;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 30px 30px;
}
.logo img {
    max-width: 100px; 
    margin-left: 30px;
}

/*desktop header buttons*/
.desktop-nav { 
    flex-grow: 1; 
    margin-left: 100px;
}
.desktop-nav ul {
    list-style: none;
    display: flex;
}
.desktop-nav li {
    margin-right: 20px;
}
.desktop-nav a {
    text-decoration: none;
    color: #333;
}

/*mobile header buttons*/
.mobile-nav {
    display: none; /* Hide by default */
    align-items: center;
}
.hamburger {
    font-size: 24px;
    background: none;
    border: none;
    cursor: pointer;
    color: #333;
    z-index: 1; 
    position: relative; /* Position relative to parent */
}
.mobile-links {
    display: none;
    flex-direction: column;
    z-index: 2; 
    position: absolute; 
    background-color: #fff;
    top: 4%; /*below hamburger button*/
    right: 0;
    margin-top: 5px;
    padding: 20px;
}
.mobile-links ul {
    list-style: none;
}
.mobile-links li {
    margin: 10px 0;
}


/*PARENT DIV; children: email-capture, graphic*/
/*PARENT DIV; children: email-capture, graphic*/
/*PARENT DIV; children: email-capture, graphic*/
.main-1 {
    display: flex;
    height: auto;
    display: flex;
}

/*Desktop - left*//*Desktop - left*//*Desktop - left*/
/*Desktop - left*//*Desktop - left*//*Desktop - left*/
.main-1 > .email-capture {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 40%; 
    margin-right: 20px; 
    padding-left: 10%;
    padding-right: 0;
}

.main-1 > .email-capture h1, p, form {
    text-align: left;
}

.main-1 > .email-capture h1 {
    font-size: 3.2rem; 
    font-weight: bold; 
    letter-spacing: 1px; 
}

.main-1 > .email-capture > .text-1 { /**/
    margin-top: 10px;
    margin-bottom: 20px;
}

.main-1 > .email-capture > .text-2 {
    margin-bottom: 10px;
}

.main-1 > .email-capture > .email-form {
   width: 100%;
   position: relative;
   height: 60px;
  }
  
.main-1 > .email-capture > .email-form input {
    background-color: white;
    border: 2px solid white;
    border-radius: 50px;
    padding: 1rem 2rem;
    width: 100%;
    height: 100%;
    padding-left: 10px;
}

.main-1 > .email-capture > .email-form button {
    background-color: pink;
    border: none;
    border-radius: 50px;
    height: 80%;
    padding-left: 5px;
    padding-right: 5px;
    position: absolute;
    right: 0;
    transform: translateX(-5%);
    top: 10%;
  }
  .main-1 > .email-capture > .email-form button:hover {
    background-color: rgb(238, 169, 203); 
    transform: translateX(-10%);
}
.main-1 > .email-capture > .email-form button:active {
    transform: translateX(0); 
}

/*Desktop - right*//*Desktop - right*//*Desktop - right*/
/*Desktop - right*//*Desktop - right*//*Desktop - right*/
.main-1 > .graphic {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 60%; 
    max-height: 500px;
}
.main-1 >.graphic img {
    max-width: 100%;
    max-height: 100%;
}


/*PARENT: main-2; children: explain-text, graphic-2*/
/*PARENT: main-2; children: explain-text, graphic-2*/
/*PARENT: main-2; children: explain-text, graphic-2*/
.main-2 {
    background-color: #FEFEDD; 
    padding: 20px;
    display: flex;
    justify-content: center;
    width: 90%;
    margin: 0 auto;
    margin-top: 40px;
    border-radius: 100px;
}
/*Desktop - left*//*Desktop - left*//*Desktop - left*//*Desktop - left*/
/*Desktop - left*//*Desktop - left*//*Desktop - left*//*Desktop - left*/
.main-2 .explain-text {
    flex: 1;
    text-align: left; 
    padding-left: 3%;
    padding-right: 3%;
    padding-top: 5%;
    margin-top: 10px;
}

.main-2 .explain-text h1 {
    font-size: 2rem; 
    font-weight: bold; 
    letter-spacing: 1px; 
}

.main-2 .explain-text .text-3, .text-4, .text-5 {
    margin-top: 10px;
}
.main-2 .explain-text .bullet-list-1 {
    margin-left: 30px;
}
.main-2 .explain-text .text-6, .text-7 {
    margin-top: 30px;
}


/*Desktop - right*//*Desktop - right*//*Desktop - right*/
/*Desktop - right*//*Desktop - right*//*Desktop - right*/
.main-2 .graphic-2 {
    flex: 1;
    display: flex;
    justify-content: flex-end; /* Push graphic to the right */
    padding-right: 2%;
}

.main-2 .graphic-2 img {
    max-width: 100%; /* Ensure the image does not exceed its container */
    height: auto;
}


/*PARENT: main-3; children: faq(s)*/
/*PARENT: main-3; children: faq(s)*/
/*PARENT: main-3; children: faq(s)*/
.main-3 {
    width: 60%; /* Desktop width */
    margin: 0 auto; /* Center horizontally */
    padding: 20px;
}
.main-3 .faq {
    background-color: white;
    border: 1px solid #ccc;
    margin-bottom: 10px;
    cursor: pointer;
    padding: 10px;
    transition: background-color 0.3s ease; /* Smooth transition */
}

.main-3 .faq.expanded {
    border-color: purple;
}
.main-3 .faq .faq-title {
    display: flex;
}
.main-3 .faq .question {
    margin: 0;
    display: inline-block;
    width: 90%;
}
.main-3 .faq .arrow {
    display: inline-block;
    width: 10%;
    text-align: right;
}

.answer {
    display: none;
}

/*PARENT: closer; children: closer-1, closer-2*/
/*PARENT: closer; children: closer-1, closer-2*/
/*PARENT: closer; children: closer-1, closer-2*/
.closer {
    background-color: #170134;
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 100px;
    color: white;
}

.closer-1 {
    display: flex;
    flex-direction: column;
    align-items: left;
    padding-left: 5%;
    gap: 10px;
}

.closer-1 img {
    max-width: 100px;
    margin-right: 20px; 
}

.desktop-nav-1 { 
    flex-grow: 1; 
}
.desktop-nav-1 ul {
    list-style: none;
    display: flex;
}
.desktop-nav-1 li {
    margin-right: 20px;
}
.desktop-nav-1 a {
    text-decoration: none;
    color: white;
}

.closer-1 p {
    color: white;
    font-size: 12px;
}

/* Styling for the right child div */
.closer-2 {
    display: flex;
    flex-direction: column;
    align-items: left;
    color: white;
    padding-right: 5%;
}

.closer-2 h7 {
    font-size: 14px; 
}

.app-buttons {
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.app-buttons a {
    display: inline-block;
    margin-right: 10px; /* Adjust spacing between buttons */
}

.app-buttons img {
    max-width: 10px;
}

/* mobile layout *//* mobile layout *//* mobile layout */
@media (max-width: 768px) {
    /*header*//*header*//*header*/
    header{
        padding: 15px;
    }
    .desktop-nav { /*desktop header buttons*/
        display: none; 
    }
    .mobile-nav { /*mobile header buttons*/
        display: flex;
    }

    /*PARENT DIV: main-1; children: email-capture, graphic*/
    .main-1 {
        flex-direction: column-reverse; /* Reverse the order on mobile */
        height: auto;
        justify-content: center;
        align-items: center;
        padding-top: 0px;
    }
    .main-1 > .graphic {
        width: 60%; /* Takes 50% of the mobile screen */
        height: auto; /* Maintain aspect ratio */
    }
    .main-1 > .email-capture {
        width: 100%; 
        margin-right: 0; 
        padding-left: 10%;
        padding-right: 10%;
        text-align: center;
    }
    .main-1 > .email-capture h1, p, form {
        text-align: center;
    }
    .main-1 > .email-capture h1 {
        font-size: 2rem;
    }
    .text-2 {
        padding-left: 23%;
        padding-right: 23%;
    }

    /*PARENT: main-2; children: explain-text, graphic-2*/
    .main-2 {
        width: 100%;
        flex-direction: column;
    }
    .main-2 > .graphic-2 {
        margin: 10%;
        margin-top: 5%;
    }
   
    /*PARENT: main-3; children: faq(s)*/
    .main-3 {
        width: 95%; /* Mobile width */
        margin: 0 2.5%;
    }

    /*PARENT: closer; children: closer-1, closer-2*/
    .closer {
        flex-direction: column; /* Display children vertically for mobile */
        align-items: left; /* Center align children for mobile */
        padding-top: 40px;
        padding-bottom: 40px;
        padding-left: 10%;
    }

    .closer-1 {
        padding: 0;
    }
    .closer-2 {
        margin-top: 50px;
    }
}